$black: #000;
$white: #fff;
$yellow1: #f0d67a;
$pink1: #783D61FF;
$gray1: #A0908C;
$green1: #bada55;

$blue1: #3D5A7F;
$blue2: #97C1D9;
$blue3: #E0FBFC;
$gray2: #293240;
$orange1: #EE6C4D;



///
$bg-color: $blue1;
$font-color: $blue2;

$link-color: $orange1;
$link-hover-color: $blue3;

$bar-bg: $gray2;

$title-color: $blue3;


